.modal-container {
  position: fixed;
  z-index: 10001;
  display: block;
  margin: 0 auto;
  visibility: visible;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: none;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}

.modal-hide {
  display: none;
  visibility: hidden;
}

.modal-show {
  display: block;
  visibility: visible;
}

.modal-animate {
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
}

.modal-animate-show {
  -webkit-animation-name: overlayShow;
     -moz-animation-name: overlayShow;
       -o-animation-name: overlayShow;
          animation-name: overlayShow;
}

.modal-animate-hide {
  -webkit-animation-name: overlayHide;
     -moz-animation-name: overlayHide;
       -o-animation-name: overlayHide;
          animation-name: overlayHide;
}

@-webkit-keyframes overlayShow {
  0% {
    opacity: 0;
  }
}

@-moz-keyframes overlayShow {
  0% {
    opacity: 0;
  }
}

@-o-keyframes overlayShow {
  0% {
    opacity: 0;
  }
}

@keyframes overlayShow {
  0% {
    opacity: 0;
  }
}

@-webkit-keyframes overlayHide {
  100% {
    opacity: 0;
  }
}

@-moz-keyframes overlayHide {
  100% {
    opacity: 0;
  }
}

@-o-keyframes overlayHide {
  100% {
    opacity: 0;
  }
}

@keyframes overlayHide {
  100% {
    opacity: 0;
  }
}

/* styles */

.modal-container {
  background: #fff;
}