.modal-container {
	position: fixed;
	margin: 0 auto;
	display: block;
	visibility: visible;
	z-index: 10001;
	top: 0;
}
.modal-overlay {
	display: none;
    position: fixed;
    z-index: 10000;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
	opacity: 0.5;
    display: none;
}
.modal-hide {
	display: none;
	visibility: hidden;
}
.modal-show {
	display: block;
	visibility: visible;
}


.modal-container {
	background: #fff;
}