.modal-container {
	position: fixed;
	margin: 0 auto;
	display: block;
	visibility: visible;
	z-index: 10001;
}
.modal-overlay {
	display: none;
    position: fixed;
    z-index: 10000;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
	opacity: 0.5;
    display: none;
}
.modal-hide {
	display: none;
	visibility: hidden;
}
.modal-show {
	display: block;
	visibility: visible;
}
.modal-animate {
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
}
/* styles */
.modal-container {
	background: #fff;
}
