/*
  http://tympanus.net/Development/ModalWindowEffects/
*/

.modal_animateActive {
  visibility: visible;
}

/* fadeScale: Fade in and scale up */
.modal_fadeScale .modal-content {
  transform: scale(0.7);
  opacity: 0;
  transition: all 0.3s;
}

.modal_animateActive.modal_fadeScale .modal-content {
  transform: scale(1);
  opacity: 1;
}

/* slideRight: Slide from the right */
.modal_slideRight .modal-content {
  transform: translateX(20%);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.modal_animateActive.modal_slideRight .modal-content {
  transform: translateX(0);
  opacity: 1;
}

/* slideBottom: Slide from the bottom */
.modal_slideBottom .modal-content {
  transform: translateY(20%);
  opacity: 0;
  transition: all 0.3s;
}

.modal_animateActive.modal_slideBottom .modal-content {
  transform: translateY(0);
  opacity: 1;
}

/* newspaper: Newspaper */
.modal_newspaper .modal-content {
  transform: scale(0) rotate(720deg);
  opacity: 0;
}

.modal_animateActive.modal_newspaper ~ .modal-overlay,
.modal_newspaper .modal-content {
  transition: all 0.5s;
}

.modal_animateActive.modal_newspaper .modal-content {
  transform: scale(1) rotate(0deg);
  opacity: 1;
}

/* fall: fall */
.modal_fall.modal-modal {
  perspective: 1300px;
}

.modal_fall .modal-content {
  transition: all 0.3s ease-in;

  transform-style: preserve-3d;
  -webkit-transform: translateZ(600px) rotateX(20deg);
  -ms-transform: translateZ(600px) rotateX(20deg);
  transform: translateZ(600px) rotateX(20deg);
  opacity: 0;
}

.modal_animateActive.modal_fall .modal-content {
  transform: translateZ(0px) rotateX(0deg);
  opacity: 1;
}

/* slideFall: side fall */
.modal_slideFall.modal-modal {
  perspective: 1300px;
}

.modal_slideFall .modal-content {
  transform-style: preserve-3d;
  transform: translate(30%) translateZ(600px) rotate(10deg);
  opacity: 0;

  transition: all 0.3s ease-in;
}

.modal_animateActive.modal_slideFall .modal-content {

  transform: translate(0%) translateZ(0) rotate(0deg);
  opacity: 1;
}

/* slideTop:  slide and stick to top */
.modal_slideTop {
  top: 0;
  /* here fix position issue */
  /*transform: translateX(-50%);*/
}

.modal_slideTop .modal-content {
  transform: translateY(-200%);
  transition: all .3s;
  opacity: 0;
}

.modal_animateActive.modal_slideTop .modal-content {
  transform: translateY(0%);
  border-radius: 0 0 3px 3px;
  opacity: 1;
}

/* flipHorizontal: 3D flip horizontal */
.modal_flipHorizontal.modal-modal {
  perspective: 1300px;
}

.modal_flipHorizontal .modal-content {
  transform-style: preserve-3d;
  transform: rotateY(-70deg);
  transition: all 0.3s;
  opacity: 0;
}

.modal_animateActive.modal_flipHorizontal .modal-content {
  transform: rotateY(0deg);
  opacity: 1;
}

/* flipVertical: 3D flip vertical */
.modal_flipVertical.modal-modal {
  perspective: 1300px;
}

.modal_flipVertical .modal-content {
  transform-style: preserve-3d;
  transform: rotateX(-70deg);
  transition: all 0.3s;
  opacity: 0;
}

.modal_animateActive.modal_flipVertical .modal-content {
  transform: rotateX(0deg);
  opacity: 1;
}

/* sign: 3D sign */
.modal_sign.modal-modal {
  perspective: 1300px;
}

.modal_sign .modal-content {
  transform-style: preserve-3d;
  transform: rotateX(-60deg);
  transform-origin: 50% 0;
  opacity: 0;
  transition: all 0.3s;
}

.modal_animateActive.modal_sign .modal-content {
  transform: rotateX(0deg);
  opacity: 1;
}

/* superScaled: Super scaled */
.modal_superScaled .modal-content {
  transform: scale(2);
  opacity: 0;
  transition: all 0.3s;
}

.modal_animateActive.modal_superScaled .modal-content {
  transform: scale(1);
  opacity: 1;
}


/* rotateBottom:  3D Rotate from bottom */
.modal_rotateBottom.modal-modal {
  perspective: 1300px;
}

.modal_rotateBottom .modal-content {
  transform-style: preserve-3d;
  transform: translateY(100%) rotateX(90deg);
  transform-origin: 0 100%;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.modal_animateActive.modal_rotateBottom .modal-content {
  transform: translateY(0%) rotateX(0deg);
  opacity: 1;
}

/* rotateLeft:  3D Rotate in from left */
.modal_rotateLeft.modal-modal {
  perspective: 1300px;
}

.modal_rotateLeft .modal-content {
  transform-style: preserve-3d;
  transform: translateZ(100px) translateX(-30%) rotateY(90deg);
  transform-origin: 0 100%;
  opacity: 0;
  transition: all 0.3s;
}

.modal_animateActive.modal_rotateLeft .modal-content {
  transform: translateZ(0px) translateX(0%) rotateY(0deg);
  opacity: 1;
}

/* blur:  Blur */
.modal_animateActive.modal_blur ~ .modal-overlay {
  background: rgba(180,46,32,0.5);
}

.modal_animateActive.modal_blur ~ .container {
  filter: blur(3px);
}

.modal_blur .modal-content {
  transform: translateY(-5%);
  opacity: 0;
}

.modal_animateActive.modal_blur ~ .container,
.modal_blur .modal-content {
  transition: all 0.3s;
}

.modal_animateActive.modal_blur .modal-content {
  transform: translateY(0);
  opacity: 1;
}
